@model RecipesApp.Models.Recipe

@* <h2>@Model.Name</h2> *@

@* <h3>Ingredients</h3> *@
@* <ul> *@
@*     @foreach (var recipeIngredient in Model.RecipeIngredients) *@
@*     { *@
@*         <li>@recipeIngredient.Ingredient.Name - @recipeIngredient.Quantity @recipeIngredient.Unit</li> *@
@*     } *@
@* </ul> *@
@* <p><strong>Cooking Time:</strong> @Model.Time minutes</p> *@

@* <h3>Instructions</h3> *@
@* <p>@Model.Instructions</p> *@

<div class="recipe-header mb-4">
    @if (!string.IsNullOrEmpty(Model.ImageUrl))
    {
        <div class="row">
            <div class="col-md-6">
                <img src="@Model.ImageUrl" class="img-fluid rounded mb-3 recipe-image" alt="@Model.Name">
            </div>
            <div class="col-md-6">
                <h2>@Model.Name</h2>
                <p class="lead"><strong>Время приготовления:</strong> @Model.Time минут</p>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-6">
                <img src="~/images/placeholder.jpg" class="img-fluid rounded mb-3 recipe-image" alt="Изображение рецепта отсутствует">
            </div>
            <div class="col-md-6">
                <h2>@Model.Name</h2>
                <p class="lead"><strong>Время приготовления:</strong> @Model.Time минут</p>
            </div>
        </div>
    }
</div>

<h3>Ингредиенты</h3>
<ul class="list-group mb-4">
	@foreach(var recipeIngredient in Model.RecipeIngredients)
	{
		<li class="list-group-item">
			@recipeIngredient.Ingredient.Name - @recipeIngredient.Quantity @recipeIngredient.Unit
		</li>
	}
</ul>

<h3>Инструкция</h3>
<div class="instructions mb-4">
	@Html.Raw(Model.Instructions.Replace("\n","<br>"))
</div>